<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>

<h1>Articles</h1>
<div id="articles" class="gap-6">
  <% @articles.each do |article| %>
    <div class="content">
      <h2><%= link_to article.title, article, class: "article-title" %></h2>
      <p class="text-gray-700 mb-4"><%= truncate(article.body, length: 150) %></p>
      <p class="text-sm text-gray-500 mb-2"><strong>Created at:</strong> <%= article.created_at.strftime("%Y-%m-%d") %></p>
      <p class="text-sm text-gray-500 mb-4"><strong>Updated at:</strong> <%= article.updated_at.strftime("%Y-%m-%d") %></p>
      <% if current_admin %>
        <%= link_to "Edit", edit_article_path(article), class: "inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600" %>
      <% end %>
    </div>
  <% end %>
</div>


<% if current_admin %>
  <%= link_to "New article", new_article_path, class: "btn-new-article" %>
<% end %>
